",
"__schema_name": "{{scheme-name}}",
"__schema_author": "{{scheme-author}}",
"colorAccentBg": "#a89984",
"colorBg": "#282828",
"colorFg": "#bdae93",
"colorHighlightBg": "#d65d0e",
"colorWindowBg": "#1D1E21",
