",
"__schema_name": "{{scheme-name}}",
"__schema_author": "{{scheme-author}}",
"colorAccentBg": "#{{base04-hex}}",
"colorBg": "#{{base00-hex}}",
"colorFg": "#{{base05-hex}}",
"colorHighlightBg": "#{{base09-hex}}",
"colorWindowBg": "#{{base01-hex}}",
