# Base16 {{scheme-name}}
# # Author: {{scheme-author}}
key-hl-color={{base08-hex}}
bs-hl-color={{base08-hex}}
separator-color={{base00-hex}}FF

caps-lock-key-hl-color={{base0A-hex}}FF
caps-lock-bs-hl-color={{base08-hex}}FF
text-caps-lock-color={{base0D-hex}}FF

inside-color={{base00-hex}}88
inside-clear-color={{base0A-hex}}00
inside-caps-lock-color={{base0D-hex}}00
inside-ver-color={{base07-hex}}00
inside-wrong-color={{base08-hex}}00

ring-color={{base03-hex}}D9
ring-clear-color={{base03-hex}}D9
ring-caps-lock-color={{base03-hex}}D9
ring-ver-color={{base03-hex}}D9
ring-wrong-color={{base03-hex}}D9

line-color={{base00-hex}}00
line-clear-color={{base0A-hex}}FF
line-caps-lock-color={{base0D-hex}}FF
line-ver-color={{base06-hex}}FF
line-wrong-color={{base08-hex}}FF

text-clear-color={{base0A-hex}}00
text-ver-color={{base07-hex}}00
text-wrong-color={{base08-hex}}00
