[Desktop Entry]
Version=1.0
Type=Application
Name=Slack
NoDisplay=true
Path=/usr/bin
Exec=slack --enable-features=WebRTCPipeWireCapturer
Terminal=false

