[Desktop Entry]
Version=1.0
Type=Application
Name=Vivaldi
NoDisplay=true
Path=/usr/bin
Exec=vivaldi-stable --enable-gpu --enable-features=UseOzonePlatform --ozone-platform=wayland
Terminal=false
