# Base16 {{scheme-name}}
# Author: {{scheme-author}}
active_colors=#ff{{base05-hex}}, #ff{{base02-hex}}, #ff{{base07-hex}}, #ff{{base06-hex}}, #ff{{base00-hex}}, #ff{{base00-hex}}, #ff{{base04-hex}}, #ff{{base0F-hex}}, #ff{{base0B-hex}}, #ff{{base00-hex}}, #ff{{base02-hex}}, #ff{{base05-hex}}, #ff{{base0A-hex}}, #ff{{base01-hex}}, #ff{{base0C-hex}}, #ff{{base0D-hex}}, #ff{{base01-hex}}, #ff{{base0E-hex}}, #ff{{base05-hex}}, #ff{{base00-hex}}, #ff{{base08-hex}}
disabled_colors=#ff{{base01-hex}}, #ff{{base02-hex}}, #ff{{base07-hex}}, #ff{{base06-hex}}, #ff{{base00-hex}}, #ff{{base00-hex}}, #ff{{base01-hex}}, #ff{{base0F-hex}}, #ff{{base01-hex}}, #ff{{base00-hex}}, #ff{{base02-hex}}, #ff{{base05-hex}}, #ff{{base0A-hex}}, #ff{{base01-hex}}, #ff{{base0C-hex}}, #ff{{base0D-hex}}, #ff{{base01-hex}}, #ff{{base0E-hex}}, #ff{{base05-hex}}, #ff{{base00-hex}}, #ff{{base08-hex}}
inactive_colors=#ff{{base05-hex}}, #ff{{base02-hex}}, #ff{{base07-hex}}, #ff{{base06-hex}}, #ff{{base00-hex}}, #ff{{base00-hex}}, #ff{{base06-hex}}, #ff{{base0F-hex}}, #ff{{base0B-hex}}, #ff{{base00-hex}}, #ff{{base02-hex}}, #ff{{base05-hex}}, #ff{{base0A-hex}}, #ff{{base01-hex}}, #ff{{base0C-hex}}, #ff{{base0D-hex}}, #ff{{base01-hex}}, #ff{{base0E-hex}}, #ff{{base05-hex}}, #ff{{base00-hex}}, #ff{{base08-hex}}
