# Base16 {{scheme-name}}
# Author: {{scheme-author}}
skin: {
    default: rgb({{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}) none / rgb({{base04-rgb-r}}, {{base04-rgb-g}}, {{base04-rgb-b}}) none
    tree: rgb({{base03-rgb-r}}, {{base03-rgb-g}}, {{base03-rgb-b}}) None / rgb({{base0F-rgb-r}}, {{base0F-rgb-g}}, {{base0F-rgb-b}}) None
    file: None None / None  None Italic
    directory: rgb({{base0D-rgb-r}}, {{base0D-rgb-g}}, {{base0D-rgb-b}}) None Bold / rgb({{base0D-rgb-r}}, {{base0D-rgb-g}}, {{base0D-rgb-b}}) None
    exe: rgb({{base0B-rgb-r}}, {{base0B-rgb-g}}, {{base0B-rgb-b}}) None
    link: rgb({{base0B-rgb-r}}, {{base0B-rgb-g}}, {{base0B-rgb-b}}) None
    pruning: rgb({{base0A-rgb-r}}, {{base0A-rgb-g}}, {{base0A-rgb-b}}) None Italic
    perm__: None None
    perm_r: rgb({{base09-rgb-r}}, {{base09-rgb-g}}, {{base09-rgb-b}}) None
    perm_w: rgb({{base08-rgb-r}}, {{base08-rgb-g}}, {{base08-rgb-b}}) None
    perm_x: rgb({{base0B-rgb-r}}, {{base0B-rgb-g}}, {{base04-rgb-b}}) None
    owner: rgb({{base09-rgb-r}}, {{base09-rgb-g}}, {{base09-rgb-b}}) None Bold
    group: rgb({{base09-rgb-r}}, {{base09-rgb-g}}, {{base09-rgb-b}}) None
    count: rgb({{base0C-rgb-r}}, {{base0C-rgb-g}}, {{base0C-rgb-b}}) rgb({{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}})
    dates: rgb({{base03-rgb-r}}, {{base03-rgb-g}}, {{base03-rgb-b}}) None
    sparse: rgb({{base0A-rgb-r}}, {{base0A-rgb-g}}, {{base0A-rgb-b}}) None
    content_extract: ansi(29) None Italic
    content_match: ansi(34) None Bold
    git_branch: rgb({{base07-rgb-r}}, {{base07-rgb-g}}, {{base07-rgb-b}}) None
    git_insertions: rgb({{base0B-rgb-r}}, {{base0B-rgb-g}}, {{base0B-rgb-b}}) None
    git_deletions: rgb({{base08-rgb-r}}, {{base08-rgb-g}}, {{base08-rgb-b}}) None
    git_status_current: rgb({{base03-rgb-r}}, {{base03-rgb-g}}, {{base03-rgb-b}}) None
    git_status_modified: rgb({{base0B-rgb-r}}, {{base04-rgb-g}}, {{base04-rgb-b}}) None
    git_status_new: rgb({{base0B-rgb-r}}, {{base0B-rgb-g}}, {{base0B-rgb-b}}) None Bold
    git_status_ignored: rgb({{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}) None
    git_status_conflicted: rgb({{base08-rgb-r}}, {{base08-rgb-g}}, {{base08-rgb-b}}) None
    git_status_other: rgb({{base08-rgb-r}}, {{base08-rgb-g}}, {{base08-rgb-b}}) None
    selected_line: None rgb({{base03-rgb-r}}, {{base03-rgb-g}}, {{base03-rgb-b}}) / None rgb({{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}})
    char_match: rgb({{base0A-rgb-r}}, {{base0A-rgb-g}}, {{base0A-rgb-b}}) None
    file_error: rgb({{base08-rgb-r}}, {{base08-rgb-g}}, {{base08-rgb-b}}) None
    flag_label: rgb({{base04-rgb-r}}, {{base04-rgb-g}}, {{base04-rgb-b}}) None
    flag_value: rgb({{base0E-rgb-r}}, {{base0E-rgb-g}}, {{base0E-rgb-b}}) None Bold
    input: rgb({{base07-rgb-r}}, {{base07-rgb-g}}, {{base07-rgb-b}}) None / rgb({{base04-rgb-r}}, {{base04-rgb-g}}, {{base04-rgb-b}}) None Italic
    status_error: rgb({{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}) rgb({{base08-rgb-r}}, {{base08-rgb-g}}, {{base08-rgb-b}})
    status_job: rgb({{base0A-rgb-r}}, {{base0A-rgb-g}}, {{base0A-rgb-b}}) rgb({{base03-rgb-r}}, {{base03-rgb-g}}, {{base03-rgb-b}})
    status_normal: None rgb({{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}}) / None None
    status_italic: rgb({{base0E-rgb-r}}, {{base0E-rgb-g}}, {{base0E-rgb-b}}) rgb({{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}}) Italic / None None
    status_bold: rgb({{base0E-rgb-r}}, {{base0E-rgb-g}}, {{base0E-rgb-b}}) rgb({{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}}) Bold / None None
    status_code: rgb({{base07-rgb-r}}, {{base07-rgb-g}}, {{base07-rgb-b}}) rgb({{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}}) / None None
    status_ellipsis: rgb({{base07-rgb-r}}, {{base07-rgb-g}}, {{base07-rgb-b}}) rgb({{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}})  Bold / None None
    purpose_normal: None None
    purpose_italic: rgb({{base0E-rgb-r}}, {{base0E-rgb-g}}, {{base0E-rgb-b}}) None Italic
    purpose_bold: rgb({{base0E-rgb-r}}, {{base0E-rgb-g}}, {{base0E-rgb-b}}) None Bold
    purpose_ellipsis: None None
    scrollbar_track: rgb({{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}}) None / rgb({{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}}) None
    scrollbar_thumb: rgb({{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}) None / rgb({{base03-rgb-r}}, {{base03-rgb-g}}, {{base03-rgb-b}}) None
    help_paragraph: None None
    help_bold: rgb({{base0F-rgb-r}}, {{base0F-rgb-g}}, {{base0F-rgb-b}}) None Bold
    help_italic: rgb({{base0E-rgb-r}}, {{base0E-rgb-g}}, {{base0E-rgb-b}}) None Italic
    help_code: rgb({{base0C-rgb-r}}, {{base0C-rgb-g}}, {{base0C-rgb-b}}) rgb({{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}})
    help_headers: rgb({{base09-rgb-r}}, {{base09-rgb-g}}, {{base09-rgb-b}}) None Bold
    help_table_border: rgb({{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}}) None
    preview_title: rgb({{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}) rgb({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}) / rgb({{base04-rgb-r}}, {{base04-rgb-g}}, {{base04-rgb-b}}) rgb({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}})
    preview: rgb({{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}) rgb({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}) / rgb({{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}) rgb({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}})
    preview_line_number: rgb({{base04-rgb-r}}, {{base04-rgb-g}}, {{base04-rgb-b}}) None / rgb({{base0F-rgb-r}}, {{base0F-rgb-g}}, {{base0F-rgb-b}}) rgb({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}})
    preview_match: None ansi(29) Bold
    hex_null: rgb({{base04-rgb-r}}, {{base04-rgb-g}}, {{base04-rgb-b}}) None
    hex_ascii_graphic: rgb({{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}) None
    hex_ascii_whitespace: rgb({{base0F-rgb-r}}, {{base0F-rgb-g}}, {{base0F-rgb-b}}) None
    hex_ascii_other: rgb({{base09-rgb-r}}, {{base09-rgb-g}}, {{base09-rgb-b}}) None
    hex_non_ascii: rgb({{base0F-rgb-r}}, {{base0F-rgb-g}}, {{base0F-rgb-b}}) None
    staging_area_title: rgb({{base06-rgb-r}}, {{base06-rgb-g}}, {{base06-rgb-b}}) rgb({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}) / rgb({{base04-rgb-r}}, {{base04-rgb-g}}, {{base04-rgb-b}}) rgb({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}})
    mode_command_mark: gray(5) ansi(204) Bold
}
