* {
    border: none;
    border-radius: 0;
    font-family: "DejaVuSans";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: @base01;
    color: @base05;
}

#window {
    font-weight: bold;
    font-family: "DejaVuSans";
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @base05;
    border-top: 2px solid transparent;
    border-radius: 20%;
}

#workspaces button.focused {
    font-weight: bold;
    background-color: @base0D;
    color: @base00;
}

#workspaces button.urgent {
    background-color: @base08;
    color: @base00;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}
#workspaces button:hover {
    background-color: @base0F;
    border: @base04;
    color: @base00;
}

#mode, #battery {
    padding: 0 8px;
    margin: 0 6px;
}

#clock, #cpu, #memory, #network, #pulseaudio, #tray, #mode, #idle_inhibitor, #backlight, #custom-storage {
    padding: 0 3px;
    margin: 0 2px;
}

#mpd {
    padding: 0 6px;
    margin: 0 8px;
    font-weight: bold;
    background-color: @base04;
    color: @base00;
    border-radius: 0%;
}

#clock {
    font-weight: bold;
}

#mode {
    color: @base08;
    background-color: @base00;
}

#network {
    color: @base0C;
    border-radius: 20%;
}

#battery {
    font-weight: bold;
    color: @base00;
    background-color: @base0B;
    border-radius: 0%;
}

#battery.charging {
    background-color: @base0B;
}

#battery.warning {
    background-color: @base08;
}

@keyframes blink {
    to {
        background-color: #FFFFFF;
    }
}

#battery.critical:not(.charging) {
    color: @base05;
    background-color: @base08;
    animation-name: blink;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected, #network.disabled {
    color: @base00;
    background-color: @base0F;
}

#network.linked {
    color: @base0A;
    background-color: @base00;
    border-radius: 0%;
}

#pulseaudio {
    font-weight: bold;
    color: @base00;
    background-color: @base0B;
    border-radius: 40%;
}

#pulseaudio.muted {
    background-color: @base0F;
}

#custom-sway-scratch {
    padding: 0 5px;
    border-radius: 40%;
}

#custom-sway-scratch.none {
    color: @base0E;
}

#custom-sway-scratch.one {
    color: @base0F;
}

#custom-sway-scratch.many {
    color: @base0A;
}

/* %%base16_template: waybar##default %%
*
* Base16 Gruvbox dark, medium
* Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
*
*/

@define-color base00 #282828;
@define-color base01 #3c3836;
@define-color base02 #504945;
@define-color base03 #665c54;
@define-color base04 #bdae93;
@define-color base05 #d5c4a1;
@define-color base06 #ebdbb2;
@define-color base07 #fbf1c7;
@define-color base08 #fb4934;
@define-color base09 #fe8019;
@define-color base0A #fabd2f;
@define-color base0B #b8bb26;
@define-color base0C #8ec07c;
@define-color base0D #83a598;
@define-color base0E #d3869b;
@define-color base0F #d65d0e;

/* %%base16_template_end%%
*/
