*/
@define-color bg_color #{{base01-hex}};
@define-color window_bg @bg_color;
@define-color window_border_color #{{base00-hex}};
@define-color prefs_backgroud #{{base04-hex}};

@define-color selected_bg_color #{{base09-hex}};
@define-color selected_fg_color #{{base03-hex}};
@define-color input_color #{{base05-hex}};
@define-color caret_color darker(@input_color);

@define-color item_name #{{base05-hex}};
@define-color item_text #{{base04-hex}};
@define-color item_box_selected #{{base0A-hex}};
@define-color item_text_selected #{{base03-hex}};
@define-color item_name_selected #{{base02-hex}};
@define-color item_shortcut_color #{{base02-hex}};
@define-color item_shortcut_shadow darker(@bg_color);
@define-color item_shortcut_color_sel #{{base03-hex}};
@define-color item_shortcut_shadow_sel darker(@item_box_selected);
