# Base16 {{scheme-name}}
# Author: {{scheme-author}}
[General]
fg=#{{base06-hex}}
bg=#{{base01-hex}}
sel_bg=#{{base0D-hex}}
sel_fg=#{{base00-hex}}
alt_bg=#{{base00-hex}}
edit_fg=#{{base0C-hex}}
edit_bg=#{{base00-hex}}
find_fg=#{{base0A-hex}}
find_bg=#{{base01-hex}}
notes_bg=#{{base02-hex}}
notes_fg=#{{base06-hex}}
num_fg=#{{base06-hex}}
selected_bg=#{{base0A-hex}}
disabled_bg=#{{base03-hex}}
notification_bg=#{{base01-hex}}
notification_fg=#{{base08-hex}}
tabbar_bg=#{{base0B-hex}}
tabbar_counter_fg=#{{base0F-hex}}
tabbar_scroll_bg=#{{base03-hex}}
tabbar_selected_counter_fg=#{{base09-hex}}
tabbar_unselected_fg=#{{base0B-hex}}
tabbar_unselected_bg=#{{base03-hex}}
tabtree_counter_fg=#{{base0E-hex}}
tabtree_selected_counter_fg=#{{base03-hex}}
